@if (false)
{ 
	<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="../../Content/themes/base/jquery-ui-1.8.14.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../Scripts/jquery-1.5.1-vsdoc.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery-ui-1.8.14.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery.validate-vsdoc.js"></script>
	<script type="text/javascript" src="../../Scripts/modernizr-1.7.js"></script>
}
<script type="text/javascript">

</script>
<script type="text/javascript">
	var data = {"Name":"徐磊",
	
	}
</script>
<div id="MyTable">
</div>