/* 全局样式 */
@import url("themes/Global.css");

/* 页面布局样式 */
@import url("themes/Layout.css");

/* jQuery UI */
@import url("themes/jQueryUI/redmond/jquery.ui.all.css");

/* jQuery UI Plus */
@import url("themes/Plugins/basic/chosen.css");
